.infoCardHeadLine{
    font-weight: 300;
}

.infoCardHeadLine--Left{
    text-decoration: underline;
}

.infoCardCallActionContainer{
    border-radius: 2rem;
}

.infoCardCallActionContainer :global(.vtex-button){
    background-color: #ddd;
}

.infoCardCallActionContainer :global(.vtex-button__label){
    color: black;
}